<div class="container d-flex flex-wrap m-4 w-100">
    <% jobs.forEach((job)=>{ %>

        <div class="card m-2 p-2 bg-secondary-subtle" style="width: 18rem;">
            <a class="btn btn-primary w-75" href="">Actively hiring
                <i class="bi bi-graph-up"></i>
            </a>
            <div class="card-body">
                <h4 class="card-title">
                    <%= job.companyName %>
                </h4>
                <h6 class="fs-6">
                    <%= job.jobDesignation %>
                </h6>
                <div class="card-body flex-column">
                    <p class="m-0">
                        <i class="bi bi-geo-alt-fill"></i>
                        <%= job.jobLocation %>
                    </p>
                    <p class="d-inline-block">
                        <i class="bi bi-currency-rupee"></i>
                        <%= job.salary %>
                    </p>
                </div>
                <div class="d-flex flex-wrap m-2">
                    <% if(job.skillsRequired){ %>
                        <% job.skillsRequired.forEach((skill)=> { %>
                            <span class="skill">
                                <%= skill %>
                            </span>
                            <% }) %>
                                <% } %>
                </div>
                <a href="/jobs/<%= job.id%>" class="btn btn-primary w-100">View Details</a>
            </div>
        </div>
        <% }) %>

</div>